@page "/"
@using System.Security.Claims
@using BitzArt.Blazor.Cookies
@using Blazored.LocalStorage
@using Duende.IdentityModel.Client
@using Frank.IdentityServer.LoginApp.Models
@using Microsoft.AspNetCore.Authentication
@using Microsoft.Extensions.Options

@inject HttpClient HttpClient
@inject NavigationManager NavigationManager
@inject IOptions<LoginConfiguration> LoginConfiguration
@inject ILocalStorageService LocalStorage
@inject ICookieService CookieService
@inject IHttpContextAccessor HttpContextAccessor

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to a login page for IdentityServer.

<EditForm Model="@this" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <InputText id="username" class="form-control" placeholder="Username" @bind-Value="@Username" />
        <InputText id="password" type="password" class="form-control" placeholder="Password" @bind-Value="@Password" />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</EditForm>

@if(!string.IsNullOrWhiteSpace(ErrorMessage))
{
    <div class="alert alert-danger mt-3">
        @ErrorMessage
    </div>
}

@code
{
    [Parameter]
    public string? RedirectUri { get; set; }
    
    public string? ErrorMessage { get; set; }
    
    public string? Username { get; set; }
    public string? Password { get; set; }

    // Get token from IdentityServer using the provided username and password and built in settings for the client.
    private async Task HandleValidSubmit(EditContext arg)
    {
        if (string.IsNullOrWhiteSpace(Username) || string.IsNullOrWhiteSpace(Password))
        {
            ErrorMessage = "Username and password are required.";
            return;
        }
        
        if (HttpClient.BaseAddress == null)
        {
            HttpClient.BaseAddress = new Uri(LoginConfiguration.Value.Authority);
        }

        var discoveryDocument = await HttpClient.GetDiscoveryDocumentAsync();
        if (discoveryDocument.IsError)
        {
            ErrorMessage = "Error retrieving discovery document: " + discoveryDocument.Error;
            return;
        }
        
        var tokenResponse = await HttpClient.RequestPasswordTokenAsync(new PasswordTokenRequest
        {
            Address = discoveryDocument.TokenEndpoint,
            ClientId = LoginConfiguration.Value.ClientId,
            Scope = LoginConfiguration.Value.Scope,
            UserName = Username,
            Password = Password
        });
        
        if (tokenResponse.IsError)
        {
            ErrorMessage = "Error retrieving token: " + tokenResponse.Error + " - " + tokenResponse.ErrorDescription + " - " + tokenResponse.ErrorType;
            return;
        }

        // Use Duende IdentityModel to emulate the behavior of an OIDC server to set the cookies and tokens
        
        var authenticationProperties = new AuthenticationProperties
        {
            IsPersistent = true,
            ExpiresUtc = DateTimeOffset.UtcNow.AddSeconds(tokenResponse.ExpiresIn),
            RedirectUri = RedirectUri ?? "/LoggedIn"
        };
        
        var claims = new List<Claim>()
        {
            new Claim(ClaimTypes.Name, Username ?? "Unknown"),
            new Claim(ClaimTypes.AuthenticationMethod, "password")
        };

        if (!string.IsNullOrEmpty(tokenResponse.RefreshToken))
        {
            claims.Add(new Claim("refresh_token", tokenResponse.RefreshToken));
        }
        
        var claimsIdentity = new ClaimsIdentity(claims, "oidc");
        var claimsPrincipal = new ClaimsPrincipal(claimsIdentity);
        
        // Store the token in the way oidc expects it, e.g., in local storage or session storage, or as Oauth2 expects it.
        await LocalStorage.SetItemAsync("access_token", tokenResponse.AccessToken);
        await LocalStorage.SetItemAsync("id_token", tokenResponse.IdentityToken);
        await LocalStorage.SetItemAsync("refresh_token", tokenResponse.RefreshToken);
        await LocalStorage.SetItemAsync("expires_at", DateTimeOffset.UtcNow.AddSeconds(tokenResponse.ExpiresIn).ToString("o"));
        await LocalStorage.SetItemAsync("token_type", tokenResponse.TokenType);
        
        // Store the tokens in cookies as if SignInAsync has been called successfully, so that the application behaves as if the user is signed in.
        var oidcCookie = new Cookie(
            "oidc",
            $"{tokenResponse.AccessToken}|{tokenResponse.IdentityToken}",
            DateTimeOffset.UtcNow.AddSeconds(tokenResponse.ExpiresIn));
        await CookieService.SetAsync(oidcCookie);

        // set session cookies for access and id tokens
        var sessionCookie = new Cookie(
            "oidc.session",
            "true",
            DateTimeOffset.UtcNow.AddSeconds(tokenResponse.ExpiresIn));
        await CookieService.SetAsync(sessionCookie);

        // If successful, redirect to the specified RedirectUri
        if (!string.IsNullOrWhiteSpace(RedirectUri))
        {
            NavigationManager.NavigateTo(RedirectUri);
        }
        else
        {
            NavigationManager.NavigateTo("/LoggedIn");
        }
    }
}
